<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>Meu primeiro aplicativo Vue</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">
    <input type="text" v-model="v1" />
    {{v1}}, {{tipo(v1)}}
    <hr>
    
    <textarea v-model.lazy.number="v2"></textarea><br>
    {{v2}}, {{tipo(v2)}}
    <hr>

    <input type="checkbox" v-model="v3" />
    {{v3}}, {{tipo(v3)}}
    <hr />    

    <select multiple v-model="v4" />
      <option value="chicrete">chicle</option>      <option value="melão">melon</option>
      <option value="melancia">watermelon</option>      
      <option value="caju">caj</option>
    </select><br>
    {{v4}}, {{tipo(v4)}}
    <hr />
    
    <input type="radio" v-model="v5" value="carro">Carro<br>
    <input type="radio" v-model="v5" value="moto">Moto<br>
    <input type="radio" v-model="v5" value="nave">nave<br>
    {{v5}}, {{tipo(v5)}}
  </div>

  <script>
 
    var app = new Vue({
      el: '#app',
      data: {
        v1: null,
        v2: null,
        v3: null,
        v4: [],
        v5: null,
      },
      methods: {
        tipo: (x) => typeof(x)
      }
    });
  </script>
</body>
</html>